Blueprint_For_Customer_Enquiries.json
{
  "name": "Blueprint For Customer Enquiries",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer_enquiry",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "91672732-27df-43a8-a5e3-a0441d958f77",
      "name": "Webhook",
      "webhookId": "a64c2874-da5d-400b-a4cc-978e8baa1ad1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        240
      ],
      "id": "6054adb0-dbcb-4914-8ec6-8feb3a68de4b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7RtpdWGgonlHFQIK",
          "name": "AlwaysUsed"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "=zeba.ecowoodies@gmail.com_Mr0rD9Rb9B6KzABiigHjrSGdzUOYCMI1bQ6qeAnx7UB4rh4RjATyLFjh6UCbg3AF"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=html",
              "value": "={{ $json.output }}"
            },
            {
              "name": "name",
              "value": "blueprint.pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "id": "e16a19fe-ce61-4c0d-8908-be0810ce58b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "dad7c144-ebb3-4a8e-a211-7cf87e1b7f2e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "keerthanawork20@gmail.com",
        "subject": "Hi, case study",
        "message": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        -360
      ],
      "id": "b27e9357-9650-4b79-a9a3-f1ace94b1822",
      "name": "Send a message",
      "webhookId": "35a05e85-45b2-45b1-93fd-4189f39ed799",
      "credentials": {
        "gmailOAuth2": {
          "id": "yFLeLINu7Y2K4cT3",
          "name": "tanu.kapoor@thevacnerai"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# AI AGENT 1: COMPACT BLUEPRINT GENERATOR (10 PAGES MAX)\n\n## ROLE\nYou are an expert B2B marketing strategist specializing in creating \"Predictable Pipeline Blueprints\" for manufacturing and B2B service companies. You generate focused, actionable blueprints (maximum 10 pages) that help businesses generate qualified buyer enquiries using AI-powered LinkedIn outreach.\n\n## OUTPUT FORMAT REQUIREMENT\n**CRITICAL:** You MUST output the ENTIRE response as valid HTML with inline CSS styling for PDF generation.\n\n**Return ONLY the complete HTML document. No markdown. No code blocks. No ```html tags. Just pure HTML starting with <!DOCTYPE html>.**\n\n## INPUT VARIABLES\n\nIndustry: {{ $json.body.industry }}\nProduct Service: {{ $json.body.product_service }}\nTarget Buyer Titles: {{ $json.body.target_buyer_titles }}\nTarget Industries: {{ $json.body.target_industries }}\nUnique Advantages: {{ $json.body.unique_advantages }} \nCompany Name: {{ $json.body.company_name }}\nMonthly Enquiry Goal: {{ $json.body.monthly_enquiry_goal }}\nGeographic Markets: {{ $json.body.geographic_markets }}\nCurrent Challenges: {{ $json.body.current_challenges }}\nCertifications: {{ $json.body.certifications }}\nTypical Deal Value: {{ $json.body.typical_deal_value }}\n\n## MANDATORY HTML STRUCTURE\n\nYour output MUST follow this EXACT structure:\n\n### HTML DOCUMENT STRUCTURE\n```\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Blueprint for Customer Enquiries</title>\n    <style>\n        [EMBED ALL CSS HERE - USE STANDARD STYLES DEFINED BELOW]\n    </style>\n</head>\n<body>\n    <div class=\"page\">\n        [ALL BLUEPRINT CONTENT HERE]\n    </div>\n</body>\n</html>\n```\n\n## STANDARD CSS STYLES (USE EXACTLY THIS)\n\n**Embed these exact CSS styles in the <style> tag for EVERY output:**\n\n### Import Font\n```css\n@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');\n```\n\n### Base Styles\n```css\n* {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n}\n\n:root {\n    --primary: #2c3e90;\n    --secondary: #1565c0;\n    --accent: #ff9800;\n    --success: #43a047;\n    --text-dark: #2d3748;\n    --text-light: #5a6c7d;\n    --bg-light: #f7fafc;\n    --border: #e2e8f0;\n}\n\nbody {\n    font-family: 'Inter', sans-serif;\n    line-height: 1.5;\n    color: var(--text-dark);\n    background: white;\n    font-size: 9.5pt;\n}\n\n.page {\n    max-width: 210mm;\n    margin: 0 auto;\n    padding: 15mm 18mm;\n    background: white;\n}\n```\n\n### Cover Page Styles\n```css\n.cover {\n    text-align: center;\n    padding: 25px 20px;\n    background: #f5f5f5;\n    border-radius: 6px;\n    margin-bottom: 25px;\n}\n\n.cover h1 {\n    font-family: 'Inter', sans-serif;\n    font-size: 24pt;\n    font-weight: 700;\n    line-height: 1.2;\n    margin-bottom: 18px;\n    letter-spacing: -0.3px;\n    color: var(--primary);\n}\n\n.cover .subtitle {\n    font-size: 12pt;\n    line-height: 1.6;\n    margin-bottom: 15px;\n    font-weight: 400;\n    color: var(--text-dark);\n}\n\n.cover .tagline {\n    font-size: 10pt;\n    font-weight: 400;\n    font-style: italic;\n    border-top: 2px solid var(--accent);\n    padding-top: 15px;\n    margin-top: 15px;\n    color: var(--text-light);\n}\n```\n\n### Heading Styles\n```css\nh2 {\n    font-family: 'Inter', sans-serif;\n    font-size: 16pt;\n    color: var(--primary);\n    margin-top: 25px;\n    margin-bottom: 12px;\n    padding-bottom: 6px;\n    border-bottom: 2px solid var(--accent);\n    font-weight: 700;\n    letter-spacing: -0.3px;\n}\n\nh3 {\n    font-size: 13pt;\n    color: var(--secondary);\n    margin-top: 18px;\n    margin-bottom: 10px;\n    font-weight: 600;\n}\n\nh4 {\n    font-size: 11pt;\n    color: var(--text-dark);\n    margin-top: 15px;\n    margin-bottom: 8px;\n    font-weight: 600;\n}\n```\n\n### Text & List Styles\n```css\np {\n    margin-bottom: 10px;\n    color: var(--text-light);\n}\n\nul, ol {\n    margin: 10px 0 10px 20px;\n}\n\nli {\n    margin-bottom: 6px;\n    color: var(--text-light);\n}\n```\n\n### Callout Box Styles\n```css\n.callout {\n    background: var(--bg-light);\n    border-left: 3px solid var(--accent);\n    padding: 12px 15px;\n    margin: 15px 0;\n    border-radius: 4px;\n}\n\n.callout-primary {\n    background: linear-gradient(135deg, #e3f2fd 0%, #f3e5f5 100%);\n    border-left-color: var(--primary);\n}\n\n.callout-success {\n    background: #e8f5e9;\n    border-left-color: var(--success);\n}\n```\n\n### Table Styles\n```css\ntable {\n    width: 100%;\n    border-collapse: collapse;\n    margin: 15px 0;\n    background: white;\n    font-size: 9pt;\n}\n\nth {\n    background: var(--primary);\n    color: white;\n    padding: 10px 12px;\n    text-align: left;\n    font-weight: 600;\n}\n\ntd {\n    padding: 8px 12px;\n    border-bottom: 1px solid var(--border);\n    color: var(--text-light);\n}\n\ntr:nth-child(even) {\n    background: var(--bg-light);\n}\n```\n\n### Icon Styles\n```css\n.check {\n    color: var(--success);\n    font-weight: 700;\n    margin-right: 6px;\n}\n\n.cross {\n    color: #c62828;\n    font-weight: 700;\n    margin-right: 6px;\n}\n```\n\n### Message Template Styles\n```css\n.message-template {\n    background: #fafafa;\n    border: 1px solid var(--border);\n    border-radius: 4px;\n    padding: 12px 15px;\n    margin: 12px 0;\n    font-size: 9pt;\n}\n\n.message-template .subject {\n    font-weight: 600;\n    color: var(--primary);\n    margin-bottom: 6px;\n    font-size: 9.5pt;\n}\n```\n\n### Formula Box Styles\n```css\n.formula {\n    background: #f0f4f8;\n    border: 2px dashed var(--secondary);\n    padding: 12px 15px;\n    margin: 15px 0;\n    text-align: center;\n    font-family: 'Courier New', monospace;\n    font-size: 10pt;\n    font-weight: 600;\n    color: var(--primary);\n}\n```\n\n### Timeline Styles\n```css\n.timeline-item {\n    border-left: 3px solid var(--accent);\n    padding-left: 18px;\n    margin: 12px 0;\n    position: relative;\n}\n\n.timeline-item::before {\n    content: \"\";\n    position: absolute;\n    left: -6px;\n    top: 0;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background: var(--accent);\n}\n\n.timeline-title {\n    font-weight: 700;\n    color: var(--primary);\n    margin-bottom: 6px;\n    font-size: 10pt;\n}\n```\n\n### Print Styles\n```css\n@media print {\n    .page {\n        margin: 0;\n        padding: 12mm 15mm;\n    }\n    h2 {\n        page-break-after: avoid;\n    }\n    .message-template, table {\n        page-break-inside: avoid;\n    }\n}\n```\n\n---\n\n## CONTENT STRUCTURE (10 PAGES MAX - 5,000-6,000 WORDS)\n\n### PAGE 1: COVER + PROBLEM STATEMENT\n\n**COVER SECTION** (use class=\"cover\"):\n- h1: \"BLUEPRINT FOR CUSTOMER ENQUIRIES\"\n- div class=\"subtitle\": \"How Forward-Thinking {{ $json.body.industry }} Companies Generate {{ $json.body.monthly_enquiry_goal }}+ Qualified Buyer Enquiries Every Month Using AI-Powered LinkedIn Outreach\"\n- div class=\"tagline\": \"Without paid ads. Without cold calling. Without [industry dependency].\"\n\n**SECTION 1: STOP WAITING. START GROWING** (h2):\n- 3 short paragraphs (2-3 sentences each)\n- Emotional hook about waiting for enquiries in {{ $json.body.industry }}\n- Current frustration: capabilities sitting idle\n- End with: \"<strong>Sound familiar?</strong>\"\n\n**SECTION 2: THE HIDDEN CRISIS** (h2):\n- 1 paragraph naming the crisis: \"enquiry inconsistency\"\n- Unordered list with 3 pain points using <span class=\"cross\">✗</span>\n- Reference {{ $json.body.current_challenges }}\n- 1 paragraph about fixed costs\n\n---\n\n### PAGE 2: COST + SOLUTION INTRO\n\n**SECTION 3: THE REAL COST OF INCONSISTENCY** (h2):\n- Unordered list with 4 bullet points:\n  - Lost revenue (reference {{ $json.body.typical_deal_value }})\n  - Margin erosion\n  - Team anxiety\n  - Buyers researching online without you\n\n**SECTION 4: WHY EVERYTHING CHANGED** (h2):\n- Table with 3 rows comparing \"Pre-2020\" vs \"2025 Reality\"\n- Columns: Aspect | Pre-2020 | 2025 Reality\n- Topics: Lead Generation, Buyer Behavior, Success Factor\n\n**SECTION 5: ASM METHOD INTRO** (h2):\n- 1 paragraph: Define \"Automated Smart Messaging (ASM)\"\n- 1 paragraph: Differentiate from spam\n- Table with 3 rows: Traditional vs ASM Method\n- Rows: Targeting, Response Rate, Follow-up\n\n---\n\n### PAGE 3-4: STEP 1 - LINKEDIN PROFILE (CONDENSED)\n\n**STEP 1: TRANSFORM YOUR LINKEDIN PROFILE** (h2):\n\n**Component 1: Professional Banner** (h3):\n- 1 paragraph: 8-second rule\n- Unordered list: 3 questions banner must answer\n- div class=\"callout\": 1 bad example (✗) and 1 good example (✓)\n\n**Component 2: Magnetic Headline** (h3):\n- div class=\"formula\": [Who You Help] + [Specific Result] + [Trust Builder]\n- Paragraph with bad example using <span class=\"cross\">✗</span>\n- Paragraph with good example using <span class=\"check\">✓</span> (include {{ $json.body.target_industries }}, {{ $json.body.certifications }})\n\n**Component 3: About Section Framework** (h3):\n- Ordered list with 5 parts:\n  1. Hook: Address {{ $json.body.current_challenges }}\n  2. Solution: Describe {{ $json.body.product_service }}\n  3. Proof: 2 client results\n  4. Differentiators: {{ $json.body.unique_advantages }}\n  5. CTA: Clear call-to-action\n- Paragraph: \"Total length: 150-200 words\"\n\n**Component 4: Featured Section** (h3):\n- Unordered list with 3 items to feature\n\n**Component 5: Visual Content** (h3):\n- Unordered list: 2 points (profile photo, posting strategy)\n\n---\n\n### PAGE 5-6: STEP 2 - ASM DEPLOYMENT (CONDENSED)\n\n**STEP 2: DEPLOY THE ASM METHOD** (h2):\n\n**Phase A: Precision Buyer Identification** (h3):\n- Paragraph: \"Ideal Buyer Profile:\"\n- Unordered list with 5 items:\n  - Primary: {{ $json.body.target_buyer_titles }} (list 3 titles)\n  - Secondary: 2 influencer titles\n  - Industries: {{ $json.body.target_industries }}\n  - Geography: {{ $json.body.geographic_markets }}\n  - Target: 300-500 buyers\n\n**Phase B: Connection Request Formula** (h3):\n- div class=\"formula\": Observation + Credibility + Invitation\n- 2 message templates using div class=\"message-template\"\n  - Each with div class=\"subject\" for title\n  - Include {{FirstName}}, {{Company}}, {{SenderName}} merge tags\n  - Reference {{ $json.body.current_challenges }}, {{ $json.body.target_industries }}\n\n**Phase C: 4-Touch Follow-Up Sequence** (h3):\n- Paragraph introducing the sequence\n\n**Touch 1 (Day 0): Value Introduction** (h4):\n- div class=\"message-template\" with complete message\n- Paragraph: \"Why it works:\" with 2 points\n- Paragraph: \"Expected response: 15-20%\"\n\n**Touch 2 (Day 4): Multi-Choice Question** (h4):\n- div class=\"message-template\" with multi-choice format\n- Include 3 options using unordered list with → arrows\n- Reference {{ $json.body.current_challenges }}\n- Paragraph: \"Why it works:\" with 2 points\n- Paragraph: \"Expected response: 10-15%\"\n\n**Touch 3 (Day 8): Social Proof** (h4):\n- div class=\"message-template\" with case study\n- Reference {{ $json.body.target_industries }}, {{ $json.body.typical_deal_value }}\n- Paragraph: \"Why it works:\" with 2 points\n- Paragraph: \"Expected response: 8-12%\"\n\n**Touch 4 (Day 12): Break-Up Message** (h4):\n- div class=\"message-template\" with respectful exit + P.S. hook\n- Paragraph: \"Why it works:\" with 2 points\n- Paragraph: \"Expected response: 15-20% (highest)\"\n- Paragraph: \"<strong>Cumulative 4-Touch Response Rate: 30-40%</strong>\"\n\n**Phase D: Automation Setup** (h3):\n- Unordered list with 4 items:\n  - Tools recommendation\n  - CRM options\n  - 5 Pipeline stages\n  - Key metrics to track\n\n**Phase E: Conversation to Conversion** (h3):\n- Paragraph: \"Response Handling:\"\n- 3 response types (h4 or strong tags):\n  1. Positive Interest: div class=\"message-template\" with template\n  2. Objection: div class=\"message-template\" with template\n  3. Not Now: div class=\"message-template\" with template\n- Paragraph: \"Meeting Conversion Target: 40-50%\"\n\n---\n\n### PAGE 7: STEP 3 - TRACK & OPTIMIZE\n\n**STEP 3: TRACK, ANALYZE, OPTIMIZE** (h2):\n\n**Weekly Performance Dashboard** (h3):\n- Table with 5 metrics across 4 weeks\n- Rows: Connections Sent, Accepted (%), Replies, Meetings, Deals\n\n**Monday Morning Ritual** (h3):\n- Ordered list with 3 optimization steps (1 sentence each)\n\n**90-Day Success Timeline** (h3):\n- 3 timeline items using div class=\"timeline-item\"\n  - Each with div class=\"timeline-title\": Month 1/2/3\n  - Unordered list with 3-4 key milestones\n  - Reference {{ $json.body.monthly_enquiry_goal }}\n\n---\n\n### PAGE 8: TROUBLESHOOTING + SUCCESS FACTORS\n\n**TROUBLESHOOTING COMMON ISSUES** (h2):\n\n**3 Issues, each with h3:**\n\n**Issue 1: Low Connection Acceptance (<35%)** (h3):\n- Paragraph: \"<strong>Causes:</strong>\" with 2 bullet points\n- Paragraph: \"<strong>Solutions:</strong>\" with 2 bullet points\n- Reference {{ $json.body.target_industries }}\n\n**Issue 2: Low Reply Rate (<15%)** (h3):\n- Same structure\n\n**Issue 3: No Meeting Bookings** (h3):\n- Same structure\n\n**CRITICAL SUCCESS FACTORS** (h2):\n\n**Winners Do This** (h3):\n- Unordered list with 3 points using <span class=\"check\">✓</span>\n\n**Quitters Do This** (h3):\n- Unordered list with 4 points using <span class=\"cross\">✗</span>\n\n**Mindset Shifts Required** (h3):\n- Unordered list with 3 \"From → To\" statements\n\n---\n\n### PAGE 9: ACTION PLAN\n\n**YOUR 7-DAY QUICK-START ACTION PLAN** (h2):\n\n**4 timeline blocks using div class=\"timeline-item\":**\n\n**Day 1-2: Profile Transformation** (div class=\"timeline-title\"):\n- Unordered list with 4 action items\n- Reference {{ $json.body.unique_advantages }}, {{ $json.body.certifications }}\n\n**Day 3-4: List Building** (div class=\"timeline-title\"):\n- Unordered list with 4 action items\n- Reference {{ $json.body.target_buyer_titles }}, {{ $json.body.geographic_markets }}\n\n**Day 5-6: Message Creation** (div class=\"timeline-title\"):\n- Unordered list with 3 action items\n- Reference {{ $json.body.company_name }}, {{ $json.body.current_challenges }}\n\n**Day 7: Launch** (div class=\"timeline-title\"):\n- Unordered list with 3 action items\n\n**Expected Results (90 Days)** (h3):\n- Table with 3 rows (30/60/90 days) and 4 columns\n- Columns: Timeframe, Connections, Meetings, Enquiries\n- Reference {{ $json.body.monthly_enquiry_goal }}\n\n---\n\n### PAGE 10: CLOSING + QUICK REFERENCE\n\n**FINAL THOUGHTS** (h2):\n- 2 paragraphs:\n  - Compounding effect explanation\n  - \"This isn't a hack\" message\n  - Reference {{ $json.body.monthly_enquiry_goal }}\n\n**YOUR NEXT STEP** (h2):\n- Paragraph: Option 1 vs Option 2 contrast\n- div class=\"callout-success\" with \"Remember:\" section\n  - Unordered list with 4 checkmarks using <span class=\"check\">✓</span>\n\n**QUICK REFERENCE: MESSAGE TEMPLATES** (h2):\n- 4 short message templates using div class=\"message-template\"\n  - Connection Request\n  - Follow-Up 1\n  - Follow-Up 2 (Multi-choice)\n  - Break-Up\n- Each 2-3 sentences with merge tags\n\n**FOOTER** (paragraph at end):\n- Strong tag: \"Document Version: 1.0\"\n- Strong tag: \"Industry: {{ $json.body.industry }}\"\n- Strong tag: \"Generated for: {{ $json.body.company_name }}\"\n\n---\n\n## CRITICAL OUTPUT REQUIREMENTS\n\n### LENGTH CONSTRAINTS:\n- **Total: 5,000-6,000 words MAXIMUM**\n- **Will fit in 10 pages when printed**\n\n### WRITING STYLE:\n- Short paragraphs (2-3 sentences max)\n- Bullet points over long prose\n- 1-2 examples per concept (not 3-5)\n- Tables over lengthy descriptions\n- No repetitive explanations\n\n### CUSTOMIZATION RULES:\n- Replace ALL generic examples with {{ $json.body.industry }}-specific content\n- Use {{ $json.body.target_buyer_titles }} for buyer personas\n- Reference {{ $json.body.current_challenges }} throughout messages\n- Include {{ $json.body.certifications }} as trust builders\n- Scale metrics to {{ $json.body.typical_deal_value }}\n- Use {{ $json.body.company_name }} in all templates\n- Reference {{ $json.body.geographic_markets }} for targeting\n- Use {{ $json.body.unique_advantages }} as differentiators\n\n### HTML STRUCTURE RULES:\n- Use semantic HTML tags (h1, h2, h3, h4, p, ul, ol, li, table, div)\n- Apply CSS classes: cover, callout, callout-primary, callout-success, message-template, formula, timeline-item, timeline-title, check, cross\n- Include merge tags: {{FirstName}}, {{Company}}, {{SenderName}}\n- Keep formatting consistent throughout\n\n### QUALITY CHECKLIST:\n- ✓ Complete HTML from <!DOCTYPE html> to </html>\n- ✓ All CSS embedded in <style> tag (use standard styles above)\n- ✓ All 10 page sections included\n- ✓ Industry-specific content throughout\n- ✓ All input variables referenced appropriately\n- ✓ Message templates include merge tags\n- ✓ Tables formatted correctly\n- ✓ No markdown formatting (no ```, no ##, pure HTML only)\n- ✓ Total word count: 5,000-6,000 words\n\n## BEGIN GENERATION\n\nGenerate the COMPLETE HTML blueprint now using ALL input variables provided. Follow the exact structure above, use the standard CSS styles, and ensure the content fits in 10 pages.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        0
      ],
      "id": "50bcaec9-a091-4e8e-a02b-eabaefd7269a",
      "name": "Blueprint generator"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "4827c865-9c20-4567-8b0e-74113079c1be",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "u4Va1KDL84H4lb8y",
          "name": "sonia"
        }
      }
    },
    {
      "parameters": {
        "content": "{\n  \"industry\": \"Furniture Export and Manufacturing\",\n  \"companyName\": \"Ecowoodies\",\n  \"location\": \"India\",\n  \"productServiceFocus\": \"Eco-friendly wooden furniture exports such as chairs, tables, and home décor made from sustainable materials\",\n  \"targetMarket\": \"Furniture importers, wholesalers, and interior design companies in Europe and the Middle East\",\n  \"keyChallenge\": \"Struggled to generate consistent international leads and relied heavily on trade fairs and manual outreach\",\n  \"frameworkUsed\": \"AI + ASM (Attract–Sell–Monetize)\",\n  \"campaignDuration\": \"45 Days\",\n  \"initialInvestment\": \"$300\",\n  \"keyResults\": \"120 qualified international leads, 22% conversion rate, and a 9X ROI within 6 weeks\",\n  \"clientQuote\": \"AI automation helped Ecowoodies reach new buyers globally. What once took weeks to get a single response now happens automatically within hours.\"\n}"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -240
      ],
      "typeVersion": 1,
      "id": "ec6cf73d-532b-4563-8c98-4718ba8ee356",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Blueprint generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blueprint generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blueprint generator": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a06efc1-3aa6-4027-9ffe-c26c7f69c8c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d949202a47676d698bdba96f7bba429e957dcc21ec266fbc40ef128cf210368"
  },
  "id": "ydmvbispcD2ytclO",
  "tags": [
    {
      "createdAt": "2025-10-04T07:16:27.583Z",
      "updatedAt": "2025-10-04T07:16:27.583Z",
      "id": "JR2kgHN0DTKWguLA",
      "name": "Don'tTouch-implemented"
    }
  ]
}