SMPostingCompleted - Nitin.json
{"createdAt":"2025-07-31T10:20:33.369Z","updatedAt":"2025-10-06T09:12:01.000Z","id":"LUra42yOLiypf0MH","name":"SMPostingCompleted - Nitin","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,80],"id":"2d9d2740-1686-42c0-9bf2-213a9c885582","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"ddd96631-807e-4ea8-9cae-69f334bdc357","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,80],"id":"53cd347c-bda0-4325-8390-e2bdb4907c61","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"72b8d1b3-587e-49db-b188-4ce4899acfbc","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"56b11a36-c399-44f7-887b-6ab38e62e117","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"9d42035e-64fe-4801-b3b4-d97c74229923","name":"Split Out"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"e651e555-024b-4e23-a1fb-ce477fad068d","name":"Loop Over Items"},{"parameters":{"url":"https://hook.us2.make.com/jw39inlj4fizmhjylwm6cvjxyx7mvoql","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,80],"id":"f8fc5d27-3cc5-408f-b7cb-c0c607828e4b","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,80],"id":"63fb4279-b483-43b4-8cd6-a865a2c46ded","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"b8127527-4dda-4b68-bf86-e6d7dec3d66f","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"670f83e0-f209-4609-b995-db52f05dac68","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"7bba24d3-ab35-4635-b325-0c2c68ed8545","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[560,1280],"id":"7b29b16b-d60c-43a2-bc25-59ea4c05f147","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[420,1280],"id":"f1c07a88-a766-4060-9399-9c8d6fa05787","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[840,1280],"id":"ccd28991-28ab-442a-bfbf-47413c87ec97","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,40],"id":"4cc29c96-921f-4fa9-8baf-9b691a7f4681","name":"Sticky Note"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"38514a56-cc8f-481e-b562-891bce6450ea","name":"Sticky Note2"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1180],"id":"64df6aa6-3271-41ad-a8d2-383ca7828296","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"d98234f8-c0fe-49a0-a35c-e55654d5d3e2","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,1280],"id":"7438dc07-cb35-4153-aaf9-ca347bb44d3c","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80],"id":"76b7761d-8dea-4c1b-b99f-7df4aea471a3","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"1d2310bf-17de-4ebe-aaba-3905413c6953","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1280],"id":"9c86f604-4774-4a69-a709-54f7e45e03e4","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,80],"id":"90afaef5-8b1c-4492-a331-bebe17ca71a7","name":"Edit Fields"},{"parameters":{"url":"https://hook.us2.make.com/jw39inlj4fizmhjylwm6cvjxyx7mvoql","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,1280],"id":"346273ab-d3fc-4325-8da2-97e0758ade5b","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"7099d83d-25ac-4d32-be33-b1fbfa208c1f","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,1280],"id":"c8bfcf81-9689-4b7b-a273-89ed41657909","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"f8980ef3-2a77-4ea3-957f-949c23ad8e40","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"3186cc1a-46ce-4767-9bce-e7081528c9d1","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"9a699e7f-7fd1-40e4-aa6d-ee6a91b3f1f8","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"e3616100-f739-4490-ae93-09207fc8b77d","name":"Split Out1"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"9939a92d-e239-4d15-85c5-5f4f3e0eca54","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.us2.make.com/jw39inlj4fizmhjylwm6cvjxyx7mvoql","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2060],"id":"7f3c2662-d8f4-46fd-a8bd-1cbbfb93f581","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"a034ed4c-f10d-4eab-aee8-63e75af60b1d","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"24550865-9647-4654-bfa3-339f6339774f","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"dabb3309-6ff5-4233-b55a-12bfe6555835","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"87efb293-b0f5-455d-ad50-e84932a5b80d","name":"Sticky Note5"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"e791f5c9-580b-4bb9-9545-765aaf3cf156","name":"Sticky Note7"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"736cc561-05c0-456d-8b4f-7e28e6b6390f","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"9ed06cf8-2116-46d1-b1cc-ec2ebf558fe3","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3600],"id":"f503ed5f-b6c4-494b-ac0e-559b925d9033","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2060],"id":"ee4d8dda-a6ee-4921-924b-3a62c64c2512","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"dea5eb02-7c98-4a4e-9573-8665cc7d7812","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"de1face2-5357-49b0-a0b3-35e8e45c56b9","name":"HTTP Request15"},{"parameters":{"url":"https://hook.us2.make.com/jw39inlj4fizmhjylwm6cvjxyx7mvoql","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3600],"id":"34fa2a19-cf15-4251-8cf8-4241a27a7999","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"20","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"22","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"4b0044d4-df28-4995-9d56-fe50a8520b53","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"17ca3c11-52e1-4eae-9309-743b1c6f553b","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,80],"id":"76cbde35-e273-464e-a10a-4af1d2a4ae29","name":"Wait","webhookId":"f364bbfc-1ac8-4704-a303-0609e509ac64"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,3600],"id":"0c1e849e-3ec8-46f0-93f6-1b0fa7ac0e71","name":"Wait3","webhookId":"9822d403-5e18-4df5-8c3a-f1eda2bb8605"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1620,820],"id":"632c4e78-2e63-434f-bdb8-326592c034d3","name":"Wait4","webhookId":"8825d027-2530-4c69-9604-6faa9341d74d"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,1280],"id":"6732d43f-8cc8-4a5b-bef4-9044ae80ce2e","name":"Wait5","webhookId":"315b5c6a-5b65-4ef8-a0bf-1c812abd6bc1"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,2800],"id":"d96ecaf6-b4b6-424d-a5f2-0df306267994","name":"Wait9","webhookId":"5d5f00bb-a008-43f9-929c-79ab1d0a07e2"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2060],"id":"a6ec4182-d99b-4831-9224-76a214070d19","name":"Wait10","webhookId":"a3141f3f-63fb-4a5d-9a59-eafcd4702fb3"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"5df897c4-81f3-4032-b1eb-bc66e02383d9","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,280],"id":"b26d996b-b070-41e1-b50d-245c81004d64","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[860,1420],"id":"eaff842e-93d3-47f9-bcf3-e84f2a5790d2","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"2cb3ced4-c8aa-45c4-abaf-3a50d252677f","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"54330006-3242-47e2-ace0-5cd817a308ec","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"298c7ec1-39f6-4c65-8edc-a87cf2356a77","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"7ac1f834-5fe1-4474-8dc6-9649fc803323","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appKb84Pn1PUZz0r4","mode":"list","cachedResultName":"SocialMediaPostContent","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4"},"table":{"__rl":true,"value":"tblb7ZOdRSJKgjoLF","mode":"list","cachedResultName":"Imported table AI","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4/tblb7ZOdRSJKgjoLF"},"returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Sno","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"3ee86ba0-3c37-4b0a-b25b-7f143c1b7bfb","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"7BJIwYL9MhLfMdTl","name":"Posting"}}},{"parameters":{"path":"Nitin","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,1560],"id":"e2de285a-4b37-4d89-ae6f-1da61fe57d7a","name":"Webhook","webhookId":"ffa66f6b-2610-4764-8c2f-aa6e72072956","credentials":{"httpBasicAuth":{"id":"UyxshiXCYVzHREOG","name":"Nitin"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1400,820],"id":"5706e0a4-b6e6-4e2c-a29d-0036d232890a","name":"X","credentials":{"twitterOAuth2Api":{"id":"1T8Z8OaO9YyNNkMo","name":"Nitin"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1060,2820],"id":"6a0a1af0-a8e9-4b8e-99b2-142c36f59955","name":"X1","credentials":{"twitterOAuth2Api":{"id":"1T8Z8OaO9YyNNkMo","name":"Nitin"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code3":{"main":[[{"node":"X","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code8":{"main":[[{"node":"X1","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"X":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"X1":{"main":[[{"node":"Wait9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"903b7b5f-785d-4dff-83c9-9b8667662467","triggerCount":1,"tags":[]}