SMPostingCompleted anita.json
{"createdAt":"2025-04-11T09:29:34.520Z","updatedAt":"2025-10-07T10:53:15.000Z","id":"8kXvMvFQtjAZC1Yv","name":"SMPostingCompleted anita","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,80],"id":"93a12789-1f0d-4895-8be1-175a484a7020","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"2d89e9fd-e680-45f0-bfc8-cda3cae0dbd4","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,80],"id":"5bbfb6ed-b643-4150-9fb8-30934400b3f1","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9116c881-0857-4ca8-98bd-3803e96425d0","leftValue":"={{ $json.socialMedia }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"22d632a8-2fae-4e0b-ae4d-89b1e88bcdc8","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"6d11fb1a-db27-4bd7-a476-1ca81e844f9c","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"a664867b-237a-41d6-b96e-26fef4d155c6","name":"Split Out"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"f7597ed6-fa8f-4f4f-bd23-e5f85278a8e0","name":"Loop Over Items"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,80],"id":"a08ef7f9-6d86-483c-83df-d3ec7d267e2d","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,80],"id":"3a0e8a38-dfad-4728-b6c1-4a953dca349c","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,460],"id":"327989ba-54c7-48bf-a955-5393683c3153","name":"Edit Image6"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,460],"id":"1c2d2ce1-814b-46aa-8380-03d3212dde25","name":"Edit Image7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Facebook post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,460],"id":"3ef3a856-2a7c-44ba-a805-31fd0ee2d972","name":"AI Agent1"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"69f836fe-8b4a-4837-ad00-55514c7449e9","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"2a921fb4-031f-4d2a-bd0e-67ee80eaca69","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"0f910718-3a98-401c-aba3-ba8c1c0afed6","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1220],"id":"8429924e-132d-4588-9278-90d081e37a02","name":"Edit Image10"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1220],"id":"3283c90b-f0a6-4901-ade9-43204f727bc3","name":"Edit Image11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1220],"id":"d5327f08-4413-4044-aa04-8669bf0db497","name":"AI Agent3"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1620],"id":"e85a25b9-b3bb-4c79-8a6a-64902c001222","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1620],"id":"5330b96e-768c-49c4-83a0-c7ecafebde14","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1620],"id":"37e51f03-5ac1-4e1b-8c7f-c7d5be60c78e","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"482fcc1f-1c57-4191-9fe6-ed1309d549ec","name":"Sticky Note"},{"parameters":{"content":"## Facebook\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,360],"id":"8e86ced0-7dbe-41ba-a40b-8a2e56c38752","name":"Sticky Note1"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"f4fa616c-c56b-43e1-9814-10c32082efcc","name":"Sticky Note2"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,1120],"id":"a1e79432-614b-4a7f-9e18-377f0ed9901a","name":"Sticky Note3"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1520],"id":"a5c4dfa8-5e37-4be4-b64a-c78602fdf81d","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,460],"id":"8c7167ca-797e-44a2-b1e2-091faf95ec04","name":"Code2"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"84e5fd9a-ced1-45a0-83ad-e87c6842085d","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1220],"id":"5ea171dc-a00c-4f4b-b12a-159694ff61f3","name":"Code4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1620],"id":"bb4b9c72-58ac-46cf-ba7e-5d3148a8f153","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80],"id":"f1e21ee2-40c6-4174-8029-612c2e0ae19d","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,460],"id":"6ab02bd4-2c9d-4a7e-89a0-da136022f4a1","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"a2e75d97-8caa-413f-ba87-8c09389240d6","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1220],"id":"25191867-bac7-40e8-b0ef-62b475aa4472","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1620],"id":"f38cc8e3-8c1e-4b2a-bd24-1503c88cc1a1","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,80],"id":"fbad7af7-e0a4-4f86-a0ac-1e815b849e4c","name":"Edit Fields"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields1').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,460],"id":"e043cc97-88cd-4bdf-b38c-f7bd748cd588","name":"HTTP Request5"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields2').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,820],"id":"aeb8fbe4-3bde-4fb2-9733-a799dd90da2e","name":"HTTP Request7"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields3').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1220],"id":"5eeb56a6-7ab8-4d67-bd24-405e3d1386af","name":"HTTP Request8"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1620],"id":"feea71b5-355e-4778-be65-afb6da67516c","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,460],"id":"18bdab86-2e2d-461c-9f67-fb418b37e42d","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"891c5acf-02d9-47da-a894-accc55943cc7","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1220],"id":"1bde5889-aad9-4d52-ba74-a3d4b8d0c233","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"e40e851e-3cb2-45bb-8450-78789911f194","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"472ac4d3-545b-483e-96ed-49e52ca41232","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9116c881-0857-4ca8-98bd-3803e96425d0","leftValue":"={{ $json.socialMedia }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"13ceac5c-78a8-4548-a370-82a246baeb70","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"d773ce21-2d23-4e52-9d5d-37e923e9e12e","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"690772c2-ee8c-4dac-94a6-0626d123aac6","name":"Split Out1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"a8e538b4-c5e5-4e23-a30b-3943bcc115d7","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2060],"id":"4f119899-ee1b-4fd0-bdc8-896de95a65a6","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"5e28245b-269a-4ebb-b53f-2b0092f94e3e","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Facebook post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2440],"id":"d64939e5-3bc9-48e9-a89e-f4f87f6b8c37","name":"AI Agent6"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"819e662b-e2d9-47bf-b520-9d4fd2bdc9d0","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3200],"id":"02ffa2d2-0c0c-4ff6-bb5c-4b9404a6831f","name":"AI Agent8"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"a0890153-5d57-4c74-bca6-b39566319734","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"067e2e20-ec94-473c-99b2-64d2fc0467b8","name":"Sticky Note5"},{"parameters":{"content":"## Facebook\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2340],"id":"c3994f60-b562-499b-b236-e99ac3b86f2f","name":"Sticky Note6"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"0cfd3653-c94c-477c-b2b6-9c74a5ded146","name":"Sticky Note7"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,3100],"id":"f9a2d811-d9db-4893-bd9b-9e874c649bcf","name":"Sticky Note8"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"5348880b-9302-4b86-bc80-aabd6cd8a3b6","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2440],"id":"a3f79cf6-f36f-4145-ad39-b0c5322b2d4f","name":"Code7"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"d1f95ac2-f910-419d-816c-e62c6e4cf459","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3200],"id":"796d8c6e-e46a-4527-a81a-38a60b7fce17","name":"Code9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3600],"id":"46ecd9ff-1a2e-4b64-bd91-02f95fd40cab","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2060],"id":"130e19fa-46be-4e8d-baa1-0e313ea8c6cf","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2440],"id":"cfc336aa-6981-4ad1-86a9-415ee2999e5e","name":"HTTP Request12"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"3e024dee-8004-43b4-89ad-268835cf0391","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3200],"id":"6556f070-26b3-4e47-8d04-0ddc9dc5187a","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"78212b25-0361-4c24-af07-e7c70da5d1c4","name":"HTTP Request15"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request12').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2440],"id":"d9dc1236-6227-445b-bae8-39fb5374a7e8","name":"HTTP Request16"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request13').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2800],"id":"865b587d-0fd5-45e8-8f8a-14e1ca51f8c0","name":"HTTP Request17"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request14').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3200],"id":"d6caa50f-a877-4b39-8f46-347bcc6cbc57","name":"HTTP Request18"},{"parameters":{"url":"https://hook.us1.make.com/8iszzctspmh5i749py9b23cqnxfp2xxw","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3600],"id":"f5bcfc39-6608-4a3e-8e0d-50a038fbddb0","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"18","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"21","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"38c611dc-1fe8-4059-99f1-4d574356af9b","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"0e6ea62e-4f6b-40b2-9a07-195d4bb42fbe","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,80],"id":"56310524-88f6-4151-a573-fb29c25f9e95","name":"Wait","webhookId":"d3f3cb87-29e1-42e9-bb06-1974c7e3f84a"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,460],"id":"0a1b4433-e063-4a70-a32f-5a6ce1024ea2","name":"Wait1","webhookId":"e7f72f06-2862-4c80-b500-9518517a4c09"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1180,3200],"id":"7019bd99-cd92-4e2e-95a3-590dba252b64","name":"Wait2","webhookId":"db622520-7a87-4e0b-abde-331e241b9fd7"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,3600],"id":"c8159187-ab63-4db0-a98b-3d138995f8fd","name":"Wait3","webhookId":"01ab015e-e6eb-4317-9255-b9d06740b10c"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,820],"id":"30d96c66-cd40-4a35-bdc8-c2558ed930ce","name":"Wait4","webhookId":"24b7ff0c-bfff-4913-9dbf-9a004004404b"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1620],"id":"9758ec89-1454-41de-a645-9394d476fb54","name":"Wait5","webhookId":"74eb422b-74a1-4d46-8cae-1e4a05911935"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1220],"id":"beaa0993-39dc-4a97-a5ca-4b49a505d9cd","name":"Wait6","webhookId":"93c8ccce-a2af-4a83-bf9b-06af5fd3e6ed"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,2440],"id":"53cb24aa-2b91-4a76-af31-0253f8c4f328","name":"Wait8","webhookId":"647435a4-362a-4f15-9783-fddc5a925f9c"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2800],"id":"84f2502c-2a15-4c84-8604-73fc0a808db4","name":"Wait9","webhookId":"0a8d1a9e-3a5d-47a5-9b54-e4406fb03d52"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2060],"id":"23d0dc50-dabc-4202-8baf-243215de8ea1","name":"Wait10","webhookId":"e8ead3ad-244c-491d-8f0f-2cb817fb8e97"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"8bc7dce2-bc41-49a1-ab8e-4b4e54536854","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,280],"id":"23033a66-375c-44c7-80ee-bf9bc39214e8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1760],"id":"e4108057-94c7-4563-862a-971ca534484f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1360],"id":"cb1a72a5-864b-4cc3-aa09-51a9e80e7c03","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"a79c1c29-e93e-4f5c-8290-c0186e0231af","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,620],"id":"7ea6eef8-8ce4-4a5d-a1c6-b5dac890c490","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"43c5b424-52a7-47c1-bd82-372489c09be1","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,2600],"id":"0f9439b3-614f-4cb1-b6c2-1e6968ee9a52","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"faf8c574-f29e-408d-af6e-ed5654c4f883","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,3340],"id":"5d02b9c3-6681-4439-83c5-32709c62f001","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"9e696082-311b-4b23-ad25-d7d8f9643f5e","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appKb84Pn1PUZz0r4","mode":"list","cachedResultName":"SocialMediaPostContent","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4"},"table":{"__rl":true,"value":"tblb7ZOdRSJKgjoLF","mode":"list","cachedResultName":"Imported table AI","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4/tblb7ZOdRSJKgjoLF"},"returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Sno","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"8ec2cb7d-9c83-430c-a243-694ecf180b7a","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"7BJIwYL9MhLfMdTl","name":"Posting"}}},{"parameters":{"path":"anita","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,1560],"id":"c36daa97-584b-4431-aa51-8109b9312c97","name":"Webhook","webhookId":"a5d5e83a-cd4c-4ae1-93b5-6d1e55210317"}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image6":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Image7":{"main":[[{"node":"Edit Image6","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image10":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Image11":{"main":[[{"node":"Edit Image10","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Image7","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Image11","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Code9","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code7":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Code8":{"main":[[{"node":"HTTP Request17","type":"main","index":0}]]},"Code9":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request16":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"HTTP Request17":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"c0BBTfQlIT9xJC8p"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f4aa48f-1b76-4264-911e-57dd3b4709ed","triggerCount":1,"tags":[]}