SMPostingCompleted ajita.json
{"createdAt":"2025-04-11T09:20:41.192Z","updatedAt":"2025-05-16T12:25:44.000Z","id":"kSgyFXu9e44UsOER","name":"SMPostingCompleted ajita","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,80],"id":"c92f41f3-c82f-44cb-a9d2-bbd7df55be96","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"54505663-a3cb-4103-bc35-f29ef4a037a3","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,80],"id":"63e334f5-981b-4e65-92ea-55324dd7f181","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9116c881-0857-4ca8-98bd-3803e96425d0","leftValue":"={{ $json.socialMedia }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"ad2aac16-f16b-4812-8225-0b78ce3be78b","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"6b3d2991-0d6f-4511-bf04-63db13759c86","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"a0a443b8-8a66-4f55-ba94-afd30e55b33f","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"3348101c-393a-45b0-8400-cd6f417e2586","name":"Loop Over Items"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,80],"id":"aba71199-8026-48a2-8187-a3865d4a3f7e","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media instagram Image post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for instagram’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 500 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.Description }} and old title : {{ $('Airtable').item.json.Title }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,80],"id":"649cf4c1-f885-4390-b886-e58bf7584c3f","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,460],"id":"936b3a0c-9128-4886-aa83-32a29b37fea3","name":"Edit Image6"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,460],"id":"2ee17fdd-7a29-4e44-bf57-c6eb73692f04","name":"Edit Image7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media Facebook Image  post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Facebook ’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2000 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.Description }} and old title : {{ $('Airtable').item.json.Title }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,460],"id":"a07ceeea-7484-4e38-a7ff-f461d29b9279","name":"AI Agent1"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"d6f368ff-ed2e-440c-8ad4-5b434aa8df4d","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"09239e78-2902-46c6-90db-b2e54328b232","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media twitter Image post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for twitter’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 250 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.Description }} and old title : {{ $('Airtable').item.json.Title }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"05e2f26e-b2e4-4efe-87b7-313204d3179c","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1220],"id":"8f494f00-e7d1-4d01-bdc6-5ccea2df9ee6","name":"Edit Image10"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1220],"id":"4ec55a05-c3d4-41db-84c7-40923e87db71","name":"Edit Image11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media LinkedIn Image  post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for LinkedIn’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2000 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.Description }} and old title : {{ $('Airtable').item.json.Title }}\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1220],"id":"ae44b0de-aa5c-493c-a68c-1d76b8797f5f","name":"AI Agent3"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1620],"id":"b7b06673-2733-4a2f-8d4c-c6fd1d85cad2","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1620],"id":"c51b2fe7-0a31-4474-93fe-1c455190cbd6","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media Pinterest Image post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Pinterest ’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 490 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.Description }} and old title : {{ $('Airtable').item.json.Title }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1620],"id":"851e0ee9-fc05-40d0-950e-025aa9c9d0f6","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6198f82e-0bbe-4c7b-b5ef-7e152a65b480","name":"Sticky Note"},{"parameters":{"content":"## Facebook\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,360],"id":"b2c6ef88-439f-43e9-a606-c1a933c6058b","name":"Sticky Note1"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"ae437b18-ea9f-43f0-a861-44b435ef8e32","name":"Sticky Note2"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,1120],"id":"b64cc2ed-1b6b-409f-a8ff-078ad5d9ce02","name":"Sticky Note3"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1520],"id":"a0f6f3d9-ded7-444b-aa90-8e9731ae70ad","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,460],"id":"8b96d872-0f5a-4508-a5ad-c6f808856b82","name":"Code2"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"9b8c2615-9bcb-4ee7-8c57-a4b00e9d7e94","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1220],"id":"8e979039-bf0f-4099-8e8f-2e107622f943","name":"Code4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1620],"id":"2cdef32b-9933-451c-8614-510dfba7709c","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80],"id":"59bf069e-dbfa-42db-8d50-fd6226ed1a65","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,460],"id":"93c23521-0074-4a07-8d04-5b38026a183f","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"82cf3571-eb62-4648-88ad-896e5bea9b1e","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1220],"id":"4f726768-d2bb-4c48-ad34-8230bf790b7b","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1620],"id":"b9777ca1-1115-4d5b-9599-8a97223bac03","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,80],"id":"5e160359-f2fe-4115-b4b9-1bd1edcd2091","name":"Edit Fields"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields1').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,460],"id":"15609832-ac85-4bac-b10c-664766d3faa2","name":"HTTP Request5"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields2').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,820],"id":"54e914aa-cdc5-420a-8464-c60b5afa21c8","name":"HTTP Request7"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields3').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1220],"id":"94d2c3af-5ce0-4ad8-9f54-e3c476a0b038","name":"HTTP Request8"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1620],"id":"dd3ddcc5-0aac-464f-871c-03d3f23c59e1","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,460],"id":"01da3f18-f5ea-4e44-ab4e-cd03ad03d3d8","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"3e4e00ee-22aa-4f59-a36a-fecf9a291c11","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1220],"id":"33a8be4a-aae8-444b-99a3-8e0cddce86c6","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"2f4b8c4c-8a07-4185-951a-94b5044a392e","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"cfed6a54-1f39-465f-92f7-e1ce9ed2a9a7","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9116c881-0857-4ca8-98bd-3803e96425d0","leftValue":"={{ $json.socialMedia }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4d962ff-b519-496b-abb5-071962040e04","leftValue":"={{ $json.socialMedia }}","rightValue":"Thread","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"8bd65a8d-ab39-44e1-a3f4-1bb4ca81872a","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"2b396d57-412e-47ec-8984-921c1b766fd6","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"550f4232-9cb6-4a29-89af-43b250b586e5","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"5680480d-06a6-4249-a11f-66b432c87b00","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2060],"id":"6cf07a05-ae4a-4d70-9c13-ece61d10c903","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media instagram reels about ecowoodies  with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Instagram’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2000 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"4817d9de-064f-4344-9ec6-f0c09390a017","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media facebook reels about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for facebook's professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2500 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2440],"id":"81c0f330-24a3-420c-a5b1-50b4504e00d9","name":"AI Agent6"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media Twitter Video post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Twitter's professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 500 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"9ada532b-bd29-410d-ac0a-d1f197357b8c","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media Linkedin Video post about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for LinkedIn’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2500 character, ensuring a structured flow that maximizes readability and engagement. Avoid generic phrases and make it stand out. and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }}  and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3200],"id":"66049ba3-b044-433c-9c3d-a1b3316004b8","name":"AI Agent8"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media pinterest post about ecowoodies  with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Pinterest’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 490 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"7cca4f48-e217-4930-b2d9-13ad3f9f07b7","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"059caff9-3d76-4de4-a91d-0729f12bdbf7","name":"Sticky Note5"},{"parameters":{"content":"## Facebook\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2340],"id":"72ccc7ba-074f-41c9-ac55-091fb19fa9a9","name":"Sticky Note6"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"c8a153a2-0098-44eb-a54b-3aa6fa15d24f","name":"Sticky Note7"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,3100],"id":"2ea0b215-a73f-407a-abfb-cb7e1564a36b","name":"Sticky Note8"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"f8b929f6-0d2f-4242-8bf6-00b73db7d76c","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2440],"id":"ba4397a3-14b7-4bcc-b90d-9ebaff351dde","name":"Code7"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"433d3769-74e1-4ae8-8e30-12bb1a0f6544","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3200],"id":"f680ac72-fd61-4a49-ae41-878250c34898","name":"Code9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3600],"id":"4a3c78e2-50e4-4a48-ac5f-247e5dd1f0fe","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2060],"id":"30b70d4c-3eb4-47dc-b9dc-543a78d44d2e","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2440],"id":"1f906896-ab33-42b4-9ad7-12db6343a2db","name":"HTTP Request12"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"6ddf0b3a-5194-49b4-a4dd-86b757b68282","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3200],"id":"b4ad115d-c557-492f-84d2-0a677f809086","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"c81dbd22-8a3b-4cae-ae5f-c46b56ca5542","name":"HTTP Request15"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request12').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2440],"id":"ef0c6d3b-0e5d-4ca1-a259-8f81df794d03","name":"HTTP Request16"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request13').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2800],"id":"2fe8c025-1c20-4e9a-a2ee-d19d938696c9","name":"HTTP Request17"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request14').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3200],"id":"fe780144-b463-4c77-a512-231d0a4989cf","name":"HTTP Request18"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3600],"id":"b2517c0e-8b0b-440d-8213-3d72ff67a3fa","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"17","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"20","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"4ee94997-cffb-42f0-8abf-ccef06cb40b7","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"84c939cb-2d5f-439c-8b3a-5d75129708c0","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,80],"id":"161c3b3d-c6ff-4ad9-ae63-05f8cd564ae2","name":"Wait","webhookId":"21eb7cb0-8c46-413a-bf4f-2cc5ea8d9926"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,460],"id":"8bc42816-3a92-4f25-a3f9-3339247cc7af","name":"Wait1","webhookId":"75f39f4c-41f7-4397-8d49-9331dbb55099"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1180,3200],"id":"7b907246-8617-4f65-bbff-f469bbe5efcc","name":"Wait2","webhookId":"21de6f03-64bd-45af-b814-855e118b3d9a"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,3600],"id":"436a7dc6-e786-4168-8aee-82e3ab9aff2b","name":"Wait3","webhookId":"32b383a1-583b-4139-96c8-4c9e3e0ad783"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,820],"id":"a3a788bb-d86f-4cd9-9ca2-c2c83fc0617e","name":"Wait4","webhookId":"784e870d-7ee2-4a5c-9995-1bcf5e115c53"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1620],"id":"abd8f2b5-549d-4c7c-91d9-70a7a7843ccc","name":"Wait5","webhookId":"9ef500f1-3c11-4ee2-a54a-f6a0e3e9544e"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1220],"id":"9a1bc5e8-9bd3-435c-ae41-688a46bf3d12","name":"Wait6","webhookId":"7b276848-c8ea-4dff-bf80-cd1d54b04e01"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,2440],"id":"3a888af3-243d-4e3a-8a9f-6a792eb698dd","name":"Wait8","webhookId":"0c1c7c99-c920-40bd-9b87-299648a87b90"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2800],"id":"f589f83c-03a7-477d-bc6e-83b32bf850f4","name":"Wait9","webhookId":"920347b4-cfcf-414f-aded-3ad4c288da09"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2060],"id":"2aa4b70f-02fd-4ae5-8ca7-c8d68679353b","name":"Wait10","webhookId":"596d0989-3a39-490b-9013-afe78e036648"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"20ce4109-faa3-4fe2-9195-fe62c77e6103","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,280],"id":"c8e71a59-4021-4a6a-aace-4e540b13c0a3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1760],"id":"f699c45d-6604-4f77-aa90-c9506500f2fa","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1360],"id":"6b02315d-7f12-44f9-8412-c2f0c45a270a","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"62bcf2d5-6cdf-4aa9-8c2e-f501c20e7436","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,620],"id":"ff54a3ee-f79c-40a0-9fe2-239fcab7e3d3","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"eb112181-c2f4-499d-b911-cf6e52206f9a","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,2600],"id":"813cffa1-bacf-4e42-97cd-c17cf48134a4","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"5a4f0fe4-7834-480e-b599-50d68377af48","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,3340],"id":"b80149ed-2400-441f-ab5a-e10778415e3a","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"ba23080d-833f-4974-9180-789a626298cc","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appQPjEGm36L1xk5K","mode":"list","cachedResultName":"SocialMediaContent","cachedResultUrl":"https://airtable.com/appQPjEGm36L1xk5K"},"table":{"__rl":true,"value":"tblb2nlPIr3VsWwhu","mode":"list","cachedResultName":"Imported table","cachedResultUrl":"https://airtable.com/appQPjEGm36L1xk5K/tblb2nlPIr3VsWwhu"},"filterByFormula":"DATETIME_FORMAT(NOW(), \"YYYY-MM-DD\") =DATETIME_FORMAT({PostDate} , \"YYYY-MM-DD\")","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"d9f4932d-865a-4b5c-8183-122610b09d9b","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"XM5ko5VczXlsNGib","name":"Airtable Personal Access Token account"}}},{"parameters":{"path":"ajita","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,1560],"id":"93de3ab0-4376-4e57-8b6b-fcc75c818681","name":"Webhook","webhookId":"550d7621-64dc-421b-b1bd-0b37654cdcb9"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3940],"id":"fa587825-ed24-4ba8-a476-585d825d1141","name":"HTTP Request21"},{"parameters":{"url":"https://hook.us1.make.com/yq2ua7m9jwe7uy0x7lnuanqsagontj7t","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request21').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,3940],"id":"eef9ef7c-9a29-4227-abaf-76df03585fda","name":"HTTP Request22"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media thread videos about ecowoodies with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for thread’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 490 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3940],"id":"f4136bdb-8477-4ca0-878d-300cbeb652d3","name":"AI Agent10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3940],"id":"0ccf76bd-c661-4de9-ba47-3bafc70641e1","name":"Code13"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,3940],"id":"516c753a-a1c9-404c-b2e2-09756352aa8f","name":"Wait11","webhookId":"d028e08d-5adf-4b8b-a10e-2c504ae3b2a6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,4160],"id":"f8d2909a-5798-4897-bea2-0db6bfbee77c","name":"OpenAI Chat Model10","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image6":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Image7":{"main":[[{"node":"Edit Image6","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image10":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Image11":{"main":[[{"node":"Edit Image10","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Image7","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Image11","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}],[{"node":"HTTP Request21","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Code9","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code7":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Code8":{"main":[[{"node":"HTTP Request17","type":"main","index":0}]]},"Code9":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request16":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"HTTP Request17":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"HTTP Request21":{"main":[[{"node":"AI Agent10","type":"main","index":0}]]},"HTTP Request22":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"AI Agent10":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Code13":{"main":[[{"node":"HTTP Request22","type":"main","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"AI Agent10","type":"ai_languageModel","index":0}]]},"Wait11":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"c0BBTfQlIT9xJC8p"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b851f06-4c31-4800-be27-60f1875e9747","triggerCount":1,"tags":[]}