SMPostingCompleted - Muskan.json
{"createdAt":"2025-07-31T09:59:13.551Z","updatedAt":"2025-09-29T05:10:42.000Z","id":"VmWF8l2f7m0fdxMh","name":"SMPostingCompleted - Muskan","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,80],"id":"39ebb0e6-59b3-48c7-a642-5fd0adaff187","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"7c11ad99-05a7-4419-b3da-f2f900284be1","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,80],"id":"150a5d5d-fe0c-4164-ae98-1e4a85bc9c52","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"2a341134-9693-402d-9dc2-67d5f1aed7f5","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"1f0b6df8-e145-48a5-b776-a416f14ad4bc","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"29dd1646-9271-4c91-80b5-f5237123914f","name":"Split Out"},{"parameters":{"batchSize":4,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"f9234691-cf25-4258-a75c-e28ad4ae14e6","name":"Loop Over Items"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,80],"id":"9a58d5d3-9273-435e-9aa1-17c21f643fb6","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,80],"id":"14c57e7a-efc1-416d-8ec1-3ecb3cd0a99b","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"27a8f59b-009f-45c6-81fb-eccb8d8cf6b4","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"edade320-2c4a-4edf-824f-a8b9fae08b56","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"0a638936-5e78-4f43-b2d4-8ae563c074bb","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1220],"id":"819a9806-1b52-40be-87eb-a079c576e4be","name":"Edit Image10"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1220],"id":"cb166cf8-0b30-46e4-8b6e-e7ba1ed0c6b3","name":"Edit Image11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1220],"id":"67b06733-83d4-478f-87a4-e3a93fe5c163","name":"AI Agent3"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1620],"id":"f65b1434-a2d9-4ebe-a167-9fb1b1b4662b","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1620],"id":"e431c423-e1c7-444b-a951-38105270af2c","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1620],"id":"3bd42322-170e-47c1-bf0c-15ca9b6a4fc8","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"8c80d264-972b-4513-b760-744df5a5c892","name":"Sticky Note"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"fdfae845-db57-4fcb-b700-66861fa66573","name":"Sticky Note2"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,1120],"id":"d856cdf4-d7de-4285-b84d-7d73da0b9377","name":"Sticky Note3"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1520],"id":"496d1265-bddb-44f0-83d6-9f58fcad1754","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"404cd197-3199-4054-9821-25e97aa2abfc","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,1220],"id":"518f152d-5bc0-423b-8d92-521037f0282f","name":"Code4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,1620],"id":"04aca8de-8c28-418c-84a8-41ec25f499f2","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,80],"id":"b267768a-d528-409d-96f8-59d07d050743","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"b6de91d3-6a3e-43d2-9a95-0467fccc0213","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1220],"id":"e30f992f-8c39-416e-8111-0bc40493b7cb","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1620],"id":"1439b819-6361-4dbe-818a-ac3f1f7e3f98","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,80],"id":"5f5fe9af-191b-49f4-b002-92931ee6b6fc","name":"Edit Fields"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields3').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1220],"id":"f55a4deb-9eca-4f6c-8381-4849689aab83","name":"HTTP Request8"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1620],"id":"4f33d69d-3fa4-4437-9b6d-d418b362375c","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"b7844012-be00-4d49-9d51-8c6bbb903d16","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1220],"id":"99d3409b-561e-4149-99d9-6bc6ba5e251e","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"bc60a060-0bec-4418-87a8-9ba70f91a5ac","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"1ca56889-3bf9-4e3f-9f1e-96af313766bc","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"0106b29d-2366-44dd-90d0-180da888d82f","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"419a0546-d8f1-4c9d-9a98-f3128d827c90","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"d9ca3721-264b-40a3-ac15-3ddb1ac13acd","name":"Split Out1"},{"parameters":{"batchSize":4,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"62aad2f4-4f05-4c59-8ee2-73f23d60f438","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,2060],"id":"257ea7f0-b67c-4e7e-8d79-6b42401d6f4b","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging social media instagram reels about ecowoodies  with a strong, attention-grabbing title and an engaging caption that promotes a product, service, or idea while establishing credibility and sparking discussion. The tone should be insightful, informative, and inspiring, making it valuable for Instagram’s professional audience.Key Elements to Include:✅ A powerful title that draws interest and sets the stage for the post.✅ An engaging opening hook that immediately captures attention.✅ Storytelling or industry insights (e.g., how the product/service solves a problem or aligns with a trend).✅ Clear benefits and unique value propositions to highlight why it matters.✅ A thought-provoking question or call to action to encourage comments and engagement (e.g., “How do you see this trend evolving?” “What’s your experience with this approach?”).✅ Professional yet conversational tone to keep it relatable.✅ Relevant industry hashtags to boost visibility.The caption should be within around 2000 character, ensuring a structured flow that maximizes readability and engagement.and in caption do not specify any links.\nOld caption: {{ $('Airtable').item.json.VideoDescription }} and old title : {{ $('Airtable').item.json.VideoTitle }}\n\ni want the output in JSON format, seperated by type of platform and there should not be json prefix rather it should   have data only title and caption enclosed in curley braces. here is the exact structure of data i want you to follow json output should be enclosed within curley braces :\n{\n  \"title\": \"PLACEHOLDER\",\n  \"caption\": \"PLACEHOLDER\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"94a6ec37-9090-4b19-b27f-fff78620327b","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"ff3a2c40-a6f6-43fd-ab1a-05cc5bc55bc9","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3200],"id":"7ba30578-b2f4-4a53-ab14-8f846b6a0f3f","name":"AI Agent8"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"b7bb34b4-c527-40b3-8380-6e0b03c65081","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"982ce689-6dd9-45c8-990c-9a94b45dddc3","name":"Sticky Note5"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"0fd07dda-75c5-4206-af04-9ac0bc850569","name":"Sticky Note7"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,3100],"id":"20bda92f-9074-4573-ae03-9d5b34c08ff3","name":"Sticky Note8"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"d43a9faa-2040-4909-ab4f-c4d413194c0a","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"2e656dbe-fd4d-4fd8-8d8c-1b664311005f","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,3200],"id":"2c6a5a28-57e8-4051-9a33-957d43f3c47a","name":"Code9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,3600],"id":"7615d542-f5d0-4b68-b839-73a579b9e7eb","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,2060],"id":"f6e34b53-53e9-4513-a5b8-1c24db71a2b9","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"a8fcca05-8b9e-4325-8dc2-310c5828787a","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3200],"id":"31f5c52d-e053-483f-a4a7-65fbeb9d4654","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"c8d76781-6946-4406-a3ef-02e2b6c8a531","name":"HTTP Request15"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request14').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,3200],"id":"e9980849-3428-49b9-9a10-21c0eed9d9a0","name":"HTTP Request18"},{"parameters":{"url":"https://hook.us2.make.com/nx8jopw5l64unbo1ymt9mlyg16pn2qsh","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,3600],"id":"7d9f0d64-30b1-44cb-8e20-2fc10bcc212e","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"20","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"23","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"6919acf8-78cc-4f49-8858-bdf01a6ea6ac","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"70dd7267-a9d5-4cd4-ad79-e74b93cf6452","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,80],"id":"a131c314-45cf-40c8-bdb8-29b8e752c8e4","name":"Wait","webhookId":"24785561-980d-4912-a1c7-4d343df4a139"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1620,3200],"id":"fee89102-8075-4b51-8d4c-a231e2a0ccf2","name":"Wait2","webhookId":"51cafd48-dd3b-46bf-8841-00909014bcdb"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1580,3600],"id":"a079529b-5b33-4269-a54f-57176062fef0","name":"Wait3","webhookId":"9a1eee61-f451-4076-82b3-5891d9288456"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,820],"id":"85179ff8-636e-4177-b0ce-f4e2eb234ef3","name":"Wait4","webhookId":"5e7c024b-9233-448d-9f0f-0255b4b207ba"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1620],"id":"4ea14493-30b9-4ef9-b273-dabaebc21c4c","name":"Wait5","webhookId":"8a20cd58-c522-4939-9183-194fe3c6739d"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1220],"id":"30c10b50-fad1-4773-9897-c7c74d3b94f1","name":"Wait6","webhookId":"008e8f23-9f3b-41f4-ac3b-a4652cc10a9f"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1260,2800],"id":"3816fa99-9181-45eb-b77a-313ee6539439","name":"Wait9","webhookId":"8a765929-732e-482d-a386-7fd109fde416"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1580,2060],"id":"e17d04d8-2ba3-45f7-a973-e2fb3d025107","name":"Wait10","webhookId":"8878418a-7d7c-4ab5-9576-019f2ddb25e3"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"dd33fd86-785c-4bff-9bf2-131b628bb856","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,280],"id":"a583fdfd-ae7e-4657-a398-2b20aae7125f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1760],"id":"3f802196-3a21-4af8-ab6c-ff1dca5c6839","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1360],"id":"187f4f05-5c88-429c-a6e2-4aadfa1df3f4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"1b264adf-58f3-49e4-9e9a-a609561c97cd","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"ae2dd82f-e2c5-4028-b0b1-170ddd9dc442","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"ffc7f6c5-066a-413e-93c3-76ef86299363","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,3340],"id":"d9a79c05-b91e-4ee9-80db-694f2744ead5","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"93aeb07c-6768-4215-9152-cc946b0ffecc","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appKb84Pn1PUZz0r4","mode":"list","cachedResultName":"SocialMediaPostContent","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4"},"table":{"__rl":true,"value":"tblb7ZOdRSJKgjoLF","mode":"list","cachedResultName":"Imported table AI","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4/tblb7ZOdRSJKgjoLF"},"returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Sno","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"a9a8232f-858b-4c85-9788-3a043a6d7af0","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"7BJIwYL9MhLfMdTl","name":"Posting"}}},{"parameters":{"path":"Muskan","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1460,1560],"id":"2706dc9b-615c-4660-af61-ad8b940b95e4","name":"Webhook","webhookId":"8cb96e97-68b5-487b-8c10-ab31d78c72f9","credentials":{"httpBasicAuth":{"id":"ZwrDof7B7QPUDBv9","name":"Muskan"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1040,2800],"id":"78851c4c-3cdc-4916-b065-b76492c72d96","name":"X","credentials":{"twitterOAuth2Api":{"id":"BkpK39IMCjYzlpuc","name":"muskan"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1400,820],"id":"a6fc9cd2-a693-4582-a86c-0eaf8f3aced8","name":"X1","credentials":{"twitterOAuth2Api":{"id":"BkpK39IMCjYzlpuc","name":"muskan"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image10":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Image11":{"main":[[{"node":"Edit Image10","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code3":{"main":[[{"node":"X1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Image11","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Code9","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code8":{"main":[[{"node":"X","type":"main","index":0}]]},"Code9":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"X":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"X1":{"main":[[{"node":"Wait4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41cd05ce-e320-4795-a81e-01c8611523ca","triggerCount":1,"tags":[]}