SMPostingCompleted - Tarun.json
{"createdAt":"2025-07-30T13:10:04.395Z","updatedAt":"2025-10-06T09:58:21.000Z","id":"ZcexzipM84kxo3ar","name":"SMPostingCompleted - Tarun","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,80],"id":"41b30148-3907-4df5-85d2-054dd7ad031b","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"4e8d5330-a627-4c12-9a00-d8ad539dddac","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,80],"id":"d4cb5d23-1f5a-421d-9882-6ac9fb20be6d","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"38334424-a467-4082-9af9-9473639f462a","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"04e81c0d-7739-4bcc-8212-c8a94ee79020","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"87a154f3-42e2-4329-b68e-ceca2630e462","name":"Split Out"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"ffd31d44-ba5f-4476-9cb7-68b74b21f9fe","name":"Loop Over Items"},{"parameters":{"url":"https://hook.us2.make.com/r56c2u0rovcaatvt9vi6ue23wy3x9wus","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,80],"id":"d3be2065-e829-44e7-872d-20629d97e4f1","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,80],"id":"ae0ef66b-68cd-4cb0-b2af-56e4fedfe591","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"b323712a-5bfe-4c8c-b09a-ccd01fc89f48","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"d65240de-cd9d-43d2-a75b-e2a4ed74a6f1","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"434a8c7a-fb38-4e95-96ff-110dea51893f","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1620],"id":"3372fd12-6c20-497a-8bd6-c8ff633b6fce","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1620],"id":"7c09b420-0cf5-470e-b63d-d0b6b6f32fc3","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1620],"id":"23219f3a-6aa2-4405-96b9-4b20bf5f7abd","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"a630e860-86d1-439c-824e-27ea9fbf2541","name":"Sticky Note"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"03dbccef-cc51-4c46-91aa-4280fc3a3872","name":"Sticky Note2"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1520],"id":"34b02bc5-3e5d-413e-929c-0930ad1659ba","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"22678ace-b5b1-4eeb-9d2d-17098ff2b005","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,1620],"id":"0cc2c37d-f3f5-46a8-8e85-360832590016","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,80],"id":"2782b7b0-249d-4603-a6e4-9030dadd0559","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"e54abb7b-4d30-4240-949a-2dc8a9249ed6","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1620],"id":"ddb889eb-5cb5-49ce-80f7-b75aed7572b3","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,80],"id":"5cf52743-f31d-491f-9597-ac75df718e84","name":"Edit Fields"},{"parameters":{"url":"https://hook.us2.make.com/r56c2u0rovcaatvt9vi6ue23wy3x9wus","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1620],"id":"456bef23-fb63-4676-8c5d-3e0f1d28938e","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"6abcae31-a58a-4d0d-b159-6eb1dd336732","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"3d24e54d-b382-47aa-89a7-1f948efcb987","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"c461abca-a743-4825-8203-cb54b84ff0bd","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"6894433a-a356-4756-8bfd-83f49c3551be","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"0698a415-bf70-4d6f-87c7-28df3c04a3ee","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"57ed75f1-c478-48cf-9cb1-7d9f0b793b5c","name":"Split Out1"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"6673b14c-5ad6-4164-9a67-3d899bed5929","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.us2.make.com/r56c2u0rovcaatvt9vi6ue23wy3x9wus","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,2060],"id":"ed20edb8-50f3-45a1-a684-2fc14bed29e7","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"c55bcd69-5776-4006-aa3a-eda517cf13c7","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"48e41187-5fee-42f7-ae1a-fb177051d0a0","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"0f3a6ba0-16b6-42c3-99af-219f9004f023","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"de91fa8b-9dce-454d-ad75-b7e51ce7d1c6","name":"Sticky Note5"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"22bf8e30-37f1-4498-90ce-1c313022ccc8","name":"Sticky Note7"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"12fdb501-fd63-45e5-8647-56be02cac1cf","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"224bb586-e481-4a13-bede-df5dfad78f76","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,3600],"id":"f5f411a5-0a3a-43b7-8aa3-956d31ffa621","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,2060],"id":"cc93dec5-4988-427b-9ec2-1b3f663a3b8a","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"6dc73ef8-76bd-4c9b-81ea-17d8ba1b1dba","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"b873e0ca-6c9c-444d-b589-745084a6cee6","name":"HTTP Request15"},{"parameters":{"url":"https://hook.us2.make.com/r56c2u0rovcaatvt9vi6ue23wy3x9wus","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,3600],"id":"3dd817ea-c599-4dd0-a13a-04936d56e7f5","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"18","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"23","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"936dcdc0-fd67-4ffb-a5d2-7f83bd2fa08c","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"255c052d-d989-4334-b128-de1f512819ce","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,80],"id":"8fd66cf9-7056-4467-8d9f-e4bb0dc7210f","name":"Wait","webhookId":"687b5da0-2d12-478e-9356-d40000024b90"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,3600],"id":"a6d1d0d2-1451-42e3-9768-ad28b48f6095","name":"Wait3","webhookId":"e95102c8-e5d4-47a9-ac63-5e37c737cbc4"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,800],"id":"f7b49deb-8108-4afa-82a4-f06f3e3aa5a9","name":"Wait4","webhookId":"20f4774d-1289-4c96-b088-7bcc84da2a91"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1620],"id":"02381d79-8691-4790-83e0-2f2cf73cab5a","name":"Wait5","webhookId":"8bd28c73-fc3a-48ce-848e-378f18982da7"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,2800],"id":"c8217434-855a-4e76-9751-3033f3441a7a","name":"Wait9","webhookId":"e51a79e8-ca7f-44e9-851a-e1bacf691905"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,2060],"id":"805a1b0b-5634-46a8-86d8-d41accc45f03","name":"Wait10","webhookId":"0a2b4b5c-8c44-4503-9d03-7fdefd3c587a"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"07af98e2-fb13-4dc3-973e-5c8ba5433b47","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,280],"id":"9a627b7a-634a-4415-88d2-dfed2710425b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1760],"id":"616e6fee-6245-4afe-a877-4484efc56205","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"8b349c96-21bc-44e5-bece-0307045227c8","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"cc3250b6-ca50-45c9-931d-3edafc869e4b","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"524aac0e-96fc-495e-8c6c-1ff261af7df3","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"9cbc2b85-0440-4261-9c31-e4770cf91ed5","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appKb84Pn1PUZz0r4","mode":"list","cachedResultName":"SocialMediaPostContent","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4"},"table":{"__rl":true,"value":"tblb7ZOdRSJKgjoLF","mode":"list","cachedResultName":"Imported table AI","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4/tblb7ZOdRSJKgjoLF"},"returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Sno","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"b244413d-f296-420a-875c-8e1180d17dfa","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"7BJIwYL9MhLfMdTl","name":"Posting"}}},{"parameters":{"path":"Tarun","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,1560],"id":"b3a8301f-ebb4-46eb-9bce-4c514aecf38c","name":"Webhook","webhookId":"5042976d-2beb-40b8-b78b-0ed48e5fc4a9","credentials":{"httpBasicAuth":{"id":"IBouV1tz1gm5G5nm","name":"Tarun"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1400,820],"id":"623203ed-60b9-4a2b-a995-01c4449dbfa4","name":"X","credentials":{"twitterOAuth2Api":{"id":"Lhwqgl9vXnZDKKln","name":"Tarun"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1040,2800],"id":"bc58882f-188d-4eed-8d9f-673ff903c788","name":"X1","credentials":{"twitterOAuth2Api":{"id":"Lhwqgl9vXnZDKKln","name":"Tarun"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code3":{"main":[[{"node":"X","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code8":{"main":[[{"node":"X1","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"X":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"X1":{"main":[[{"node":"Wait9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c90338e-6f2c-4685-b2ab-12edd33c0706","triggerCount":1,"tags":[]}