SMPostingCompleted - Sonia.json
{"createdAt":"2025-08-01T10:17:30.626Z","updatedAt":"2025-09-29T06:17:49.000Z","id":"0uKD1HTx7qmIodt9","name":"SMPostingCompleted - Sonia","active":true,"nodes":[{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[480,320],"id":"3ead897d-7165-4421-bc94-03377e75feea","name":"Edit Image"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,320],"id":"152d3711-2244-4830-9e69-1c0cc6bd55e8","name":"HTTP Request"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[340,320],"id":"786e0046-dc63-4d70-a894-b734290bdf8e","name":"Edit Image1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9116c881-0857-4ca8-98bd-3803e96425d0","leftValue":"={{ $json.socialMedia }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,780],"id":"a3255d61-8348-4e65-92f0-432d0407fd73","name":"Switch"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,660],"id":"04cf7c85-9e3d-482e-b9de-c092f6cd398c","name":"Code"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,660],"id":"6b7892a7-92db-45e2-a411-ba6de1fcc2c2","name":"Split Out"},{"parameters":{"batchSize":4,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,660],"id":"c75ec332-116c-451c-b7ce-ed79494bef79","name":"Loop Over Items"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('HTTP Request20').item.json.url }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,320],"id":"e6513f1f-f520-4f40-a454-e485746168ae","name":"HTTP Request3"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[900,320],"id":"ec675000-97ea-4df5-b08f-9d2676bd9350","name":"AI Agent"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,820],"id":"9fcd76a5-12d2-4a79-ab7f-e8bc45d81e82","name":"Edit Image8"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,820],"id":"3c27823a-081a-436a-af32-3c6a06baf7ed","name":"Edit Image9"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,820],"id":"dc47b2ea-1f4a-4e81-8bc4-f0435461d51d","name":"AI Agent2"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1220],"id":"d0c0d911-9260-443c-9931-ad53c1898f90","name":"Edit Image10"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1220],"id":"cdd1eb5a-2d11-43a9-9190-7554ef02b632","name":"Edit Image11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1220],"id":"d40a488a-64a6-45cf-a2f2-4b94bde03bb7","name":"AI Agent3"},{"parameters":{"operation":"resize","width":"={{ $json.size.width - Math.floor(Math.random() * 10) + 1 }}","height":"={{ $json.size.height - Math.floor(Math.random() * 10) + 1 }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[600,1620],"id":"546cefa7-b3b0-4110-851a-4550c78ce7cc","name":"Edit Image12"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[460,1620],"id":"31f77975-9a0e-47ad-98e0-4397f76c435f","name":"Edit Image13"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,1620],"id":"4352983e-0a9c-44b6-a993-001c08a81d55","name":"AI Agent4"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,240],"id":"ffc25042-2f1e-4562-8fdb-79e50684a306","name":"Sticky Note"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740],"id":"1f87c526-688c-4e7a-b6aa-2d8f14217995","name":"Sticky Note2"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,1120],"id":"6e42853c-4e80-41a7-af05-4a0bb1e3e793","name":"Sticky Note3"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1520],"id":"588a89f9-c796-48f7-9c81-4879ad8c9e57","name":"Sticky Note4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,820],"id":"377126a0-8292-4061-8bc9-d964fd30a8d5","name":"Code3"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1220],"id":"24b907d4-c92f-4efa-b55b-15344c213223","name":"Code4"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1620],"id":"dc3da3c5-f26c-4edf-ba8a-013d07aaf642","name":"Code5"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,320],"id":"e2d708f0-9ba1-4c6d-b56a-8f07b79536de","name":"Code6"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,820],"id":"181eb403-190d-499d-824f-5313809881c6","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1220],"id":"6b3f2c31-2b2e-44ee-835a-1da6da230574","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"=https://ddnmeggny5.execute-api.us-east-1.amazonaws.com/dev/modify-metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Airtable').item.json.ImageLInk }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1620],"id":"ed7f6355-9d14-4c96-92bd-9f9fdf8f24c6","name":"HTTP Request6"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"},{"id":"fdf90df7-1c2e-41f5-90b3-11b99ce043c5","name":"type","value":"={{ $input.item.binary.data.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,320],"id":"1b13bf99-d656-48ab-91fb-ec8b616dd7fa","name":"Edit Fields"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields3').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1220],"id":"0c4d54fa-77e7-4935-be37-02dc1e7adafe","name":"HTTP Request8"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"base64","value":"={{ $('Edit Fields4').item.json.base64 }}"},{"name":"SM_type","value":"={{ $('Switch').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Image"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1620],"id":"9d5a67d8-0703-4256-a603-892818aa5e2c","name":"HTTP Request9"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,820],"id":"6ae48940-cfc0-4eb7-850a-13e70311479f","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1220],"id":"2f614171-2140-479e-a9c0-b1a2e7a495fb","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a1f4635-87b0-4df5-8c94-58f9def20a98","name":"base64","value":"={{ $input.item.binary.data.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"8ad3df4f-22de-436d-b78b-d012bcc5e121","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2060],"id":"c4fb1530-edb7-49a1-9168-4b8aa06de916","name":"HTTP Request10"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.socialMedia }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals"},"id":"d7b12aaf-40a8-4162-beb0-435d07fb22ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c77013c-63b9-40c4-87f6-9891b888124f","leftValue":"={{ $json.socialMedia }}","rightValue":"Twitter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788dbed4-32e9-41c0-ae6b-02365453dfca","leftValue":"={{ $json.socialMedia }}","rightValue":"LinkedIn","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44b37225-c8f0-4f47-86d1-b485d4eb46cd","leftValue":"={{ $json.socialMedia }}","rightValue":"Pinterest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,2760],"id":"7ff3a611-c758-4bfb-8427-8bd9e24a71e9","name":"Switch1"},{"parameters":{"jsCode":"return [{ \n    json: { \n        socialMedia: [\"Instagram\", \"Facebook\", \"Twitter\", \"LinkedIn\", \"Pinterest\",\"Thread\"] \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,2640],"id":"92f92b9d-e76a-4d97-b44e-1449a0a1338b","name":"Code1"},{"parameters":{"fieldToSplitOut":"socialMedia","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-320,2640],"id":"f3fa1f79-4609-489e-a1b4-4bea19aea90c","name":"Split Out1"},{"parameters":{"batchSize":4,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,2640],"id":"d0df59f3-f25a-4181-be9a-c519b4f4e4c3","name":"Loop Over Items1"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"videoUrl","value":"={{ $('HTTP Request10').item.json.modified_url }}"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2060],"id":"dabf4faf-34fb-4ecc-b09d-98569e66bfc1","name":"HTTP Request11"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Instagram post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2060],"id":"34c66f7c-fcde-4554-a942-ad9aebdb8e13","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Twitter post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 250 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,2800],"id":"5bde86db-78e7-469d-b313-4f031683c405","name":"AI Agent7"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Linkedin post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3200],"id":"be47768d-81a8-477c-bc14-6e66832a743a","name":"AI Agent8"},{"parameters":{"promptType":"define","text":"=Create a unique and engaging Pinterest post about Pathvancer, a company that builds AI automation agents. Your response should be in the following format, without adding any extra explanation or JSON prefix:\n\n{\n\"title\": \"PLACEHOLDER\",\n\"caption\": \"PLACEHOLDER\"\n}\n\nThe title should be strong and attention-grabbing, setting the stage for the post. The caption should:\n✅ Start with an engaging hook.\n✅ Include brief storytelling or industry insight (how Pathvancer solves a real problem or aligns with AI trends).\n✅ Clearly mention benefits and value Pathvancer brings.\n✅ End with a thought-provoking question or call to action to boost engagement.\n✅ Stay within 500 characters.\n✅ Avoid including any links.\n✅ Use a professional yet conversational tone.\n✅ Include 3–5 relevant industry hashtags such as #AIautomation #NoCodeAI #FutureOfWork\n\nDo not include quotation marks around the title or caption values. Only return the raw data in the specified JSON format, enclosed in curly braces.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,3600],"id":"2fe6c1e1-8d51-4198-84ec-3fde8834ceef","name":"AI Agent9"},{"parameters":{"content":"## Instagram\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1980],"id":"c03c0ed3-e7e6-4291-acdf-68fdf4c83489","name":"Sticky Note5"},{"parameters":{"content":"## Twitter\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2720],"id":"93850949-6f8a-4621-927c-6b8dcf8959c3","name":"Sticky Note7"},{"parameters":{"content":"## LinkedIn\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,3100],"id":"85b1aaba-3f2d-411c-b4a1-5ab1de3b004c","name":"Sticky Note8"},{"parameters":{"content":"## Pinterest\n","height":320,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,3500],"id":"e6c86bb6-3f49-41bd-8da2-2824c21d52e7","name":"Sticky Note9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2800],"id":"5c00be16-9e73-47bd-8d13-a066d9cd29dd","name":"Code8"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3200],"id":"3e1d41ab-a242-4341-89b2-620ae5f4f0d7","name":"Code9"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,3600],"id":"8001607c-5c2a-4c93-9313-d133fc45182a","name":"Code10"},{"parameters":{"jsCode":"const jsonString = $input.first().json.output;\n\n// Extract title and caption using regex\nconst titleMatch = jsonString.match(/\"title\":\\s*\"([^\"]+)\"/);\nconst captionMatch = jsonString.match(/\"caption\":\\s*\"([^\"]+)\"/);\n\n// Get values or set to empty string if not found\nconst title = titleMatch ? titleMatch[1] : \"\";\nconst caption = captionMatch ? captionMatch[1] : \"\";\n\nreturn [{ \n  json: { \n    title, \n    caption \n  } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,2060],"id":"46c1f7f8-e775-4383-a2da-1a2279e5dbe5","name":"Code11"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,2800],"id":"1ddf9ddd-9536-4836-984c-df79313766a0","name":"HTTP Request13"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3200],"id":"813924a4-7518-4ab5-b22a-0d1de92010e4","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"=https://y3cn65fu53.execute-api.us-east-1.amazonaws.com/dev/modify_metadata","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $('Airtable').item.json.Videolink }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,3600],"id":"3d99fa09-f74f-4aef-8281-74e8d059f44c","name":"HTTP Request15"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request14').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3200],"id":"d959fefd-e013-4606-b12e-fe68d3f004a3","name":"HTTP Request18"},{"parameters":{"url":"https://hook.eu2.make.com/5jgxya78of33ocavxu606n5joihbcsu4","sendBody":true,"bodyParameters":{"parameters":[{"name":"videoUrl","value":"={{ $('HTTP Request15').item.json.modified_url }}"},{"name":"SM_type","value":"={{ $('Switch1').item.json.socialMedia }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"Type","value":"Video"},{"name":"thumbnail","value":"={{ $('Airtable').item.json.VideoCoverImage }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,3600],"id":"7242f213-abde-48df-8796-b4ea5fcf2deb","name":"HTTP Request19"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.istHour }}","rightValue":"18","operator":{"type":"string","operation":"equals"},"id":"41d9336b-b33e-4f28-9749-1490f9355fb8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19ef944-4a64-4b69-903b-f2fc8fd357cc","leftValue":"={{ $json.istHour }}","rightValue":"22","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,1560],"id":"e74194ac-4cb1-4e55-98ed-fef7f2d4d96c","name":"Switch2"},{"parameters":{"jsCode":"const istHour = new Intl.DateTimeFormat(\"en-US\", { \n    timeZone: \"Asia/Kolkata\", \n    hour: \"2-digit\", \n    hour12: false \n}).format(new Date());\n\n// Return as an output object\nreturn [{ istHour }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,1560],"id":"298067dc-d2c5-4d7e-b41c-236198ca16b1","name":"Code12"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,320],"id":"4308e4bd-a1ff-4787-80b2-c70530ff687e","name":"Wait","webhookId":"a3cdd773-8730-4ccb-a19f-4656a1e70f83"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1180,3200],"id":"870c7338-28cc-4698-9fea-6c59f71117ce","name":"Wait2","webhookId":"a1a2cfb8-0193-4190-9f2e-9a64fa9263c1"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,3600],"id":"d0c79b29-8cc8-49ae-addf-3b250db23f9b","name":"Wait3","webhookId":"8784e6a8-c98f-4f44-be3f-f18178baadfe"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1580,820],"id":"5e11562e-404f-445a-8357-03fe9b52b893","name":"Wait4","webhookId":"90add907-d64c-4336-b350-4ec2a062b9ea"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1620],"id":"a9508212-82ed-47f7-908b-d4eb0490cb06","name":"Wait5","webhookId":"80caf563-3abb-47f1-a358-e96ddff55008"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,1220],"id":"efa98bc3-4f2f-440e-a593-cfc6f6aa8295","name":"Wait6","webhookId":"03bd055a-a738-44ae-802d-418ea7c57042"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2800],"id":"7a2fd8d2-6e8c-4e88-8e3a-fb175def57a2","name":"Wait9","webhookId":"9d57b23b-3c1e-4933-b721-d260d0af9015"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 360) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,2060],"id":"cb93a2c4-c746-4021-83e2-1144080f6d0b","name":"Wait10","webhookId":"795e1b7a-35fa-4e66-9a61-329b4246a1d4"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dklwg6m7m/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data:{{ $json.type }};base64,{{ $json.base64 }}"},{"name":"api_key","value":"517722268712743"},{"name":"upload_preset","value":"n8nforeco"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,320],"id":"5cb6f778-9b7e-4063-8372-955864fe618d","name":"HTTP Request20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,520],"id":"17af0045-d16d-4e4d-8eec-1725ac307fa4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1760],"id":"238c8bd8-1207-4fcf-924b-6a63cf51b6bb","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,1360],"id":"222d307f-b4a0-45dd-a9a1-1efb279e3f65","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1020],"id":"cde21b45-8799-4a18-bae1-74bff29862be","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,2280],"id":"069768f8-d5fc-41d9-9a06-427b8237c6cf","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,2960],"id":"e71d076c-3820-4734-9b18-1cf0717caa66","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,3340],"id":"97ce0378-0ba7-4509-874b-acdbbc55c168","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,3760],"id":"650fa920-61df-409a-a24c-e8e46ebbfad3","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"7RtpdWGgonlHFQIK","name":"AlwaysUsed"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appKb84Pn1PUZz0r4","mode":"list","cachedResultName":"SocialMediaPostContent","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4"},"table":{"__rl":true,"value":"tblb7ZOdRSJKgjoLF","mode":"list","cachedResultName":"Imported table AI","cachedResultUrl":"https://airtable.com/appKb84Pn1PUZz0r4/tblb7ZOdRSJKgjoLF"},"returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Sno","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,1560],"id":"300ffb22-6c4c-4a9b-8d14-ad7a40929805","name":"Airtable","credentials":{"airtableOAuth2Api":{"id":"7BJIwYL9MhLfMdTl","name":"Posting"}}},{"parameters":{"path":"Sonia","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,1560],"id":"19d42adb-a1e5-4ac2-9dfd-40d622f19517","name":"Webhook","webhookId":"8eae1ffa-c025-4d61-926b-e256f55f1f1a","credentials":{"httpBasicAuth":{"id":"UEX3sm6IVxEQXwA6","name":"Sonia"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1380,820],"id":"221f55cd-0915-4823-9e1c-27399a2fa322","name":"X","credentials":{"twitterOAuth2Api":{"id":"6qosZUPBp4g50hIF","name":"sonia"}}},{"parameters":{"text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1000,2800],"id":"fae353dd-0032-4b43-ad2c-02c34bf5bf09","name":"X1","credentials":{"twitterOAuth2Api":{"id":"6qosZUPBp4g50hIF","name":"sonia"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Image8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Image9":{"main":[[{"node":"Edit Image8","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Image10":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Image11":{"main":[[{"node":"Edit Image10","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Edit Image12":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Image13":{"main":[[{"node":"Edit Image12","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code3":{"main":[[{"node":"X","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image9","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Image11","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Image13","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0}],[{"node":"HTTP Request15","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code11","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Code9","type":"main","index":0}]]},"AI Agent9":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code8":{"main":[[{"node":"X1","type":"main","index":0}]]},"Code9":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code10":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Code11":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"AI Agent9","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent9","type":"ai_languageModel","index":0}]]},"Airtable":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"X":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"X1":{"main":[[{"node":"Wait9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"517d86bc-6467-4b69-a34c-601f35078d0a","triggerCount":1,"tags":[]}